doctype html
html
  head
    title Bad Browser
    <meta charset="UTF-8">
    <meta name="description" content="RT dialogue">
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0">
     <link href="/favicon.ico" rel="shortcut icon" >

    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    div(style="margin 30px auto; width:300px") Пожалуйста, используйте любой современный браузер: Яндекс, Chrome, Edge, Safari.
